*~
#*
\#*
.#*
*.log
*.pid
.coverage
.project
*.pyc
.ropeproject/
.ropeproject

docs/build
pip-log.txt

dist/
build/
*.egg-info/
_trial_temp
*.egg
tests/functional/data/slave/src/
.dir-locals.el
/htmlcov/
/.eggs/
/tests/functional/data/master/src/
/tests/functional/data/slave/venv-usrbinpython3.4/
/sock_send_test.py
/toxicbuild/ui/static/toxicbuild/js/.tern-port
/tests/js-unit/.tern-port
.pytest_cache/